Repository datenanfragen/website, pull requests merged in 2020-03, with the labels that each got.

#255 Fixes #253: Implement async newRequest method in the button also
  .gitignore
  NOTICES
  src/Utility/request-generator-replacers.js
Labels: bug

#257 Fix #253
  src/Components/RequestGeneratorBuilder.js
Labels: bug

#264 Fixes #250: Make homepage 'Read more' link translatable
  layouts/index.html
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/fr.json
Labels: bug, i18n

#265 Fixes #242: Include colon in translations for the CompanyWidget
  src/Components/Generator/CompanyWidget.js
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/fr.json
Labels: i18n

#243 Rename "Privacy controls" page in French
  content/privacy-controls.fr.md
  src/i18n/fr.json
Labels: i18n

#271 Fixes #256: Test for wizard regressions
  cypress/integration/old-bugs/wizard-regressions.spec.js
  cypress/integration/use-cases/wizard.spec.js
  cypress/support/commands.js
  src/test-interface.js
Labels: testing

#218 Closes gl166: Move Request::store() params into Request
  src/Components/RequestGeneratorBuilder.js
  src/DataType/Request.js
Labels: cleanup

#276 Portuguese version of the website
  .eslintrc.js
  _redirects
  config/_default/languages.toml
  config/development/languages.toml
  config/production/languages.toml
  content/generator.pt.md
  content/id-data-controls.pt.md
  content/my-requests.pt.md
  content/open-source.pt.md
  content/privacy-controls.pt.md
  content/suggest.pt.md
  deploy.sh
  layouts/_default/baseof.html
  src/Components/I18nWidget.js
  src/Utility/requests.js
  src/general.js
  src/i18n/README.md
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/pt.json
  static/404.html
  static/img/logo-pedidodedados.png
  static/img/logo-pedidodedados.svg
Labels: i18n

#278 Artikel: Wie oft kann ich Anfragen an Unternehmen stellen?
  config/_default/params.toml
  content/blog/wie-oft-anfragen.de.md
  static/img/blog/wie-oft-anfragen.de.jpg
Labels: content
