Repository datenanfragen/website, pull requests merged in 2020-06, with the labels that each got.

#320 Optimize Netlify deploys
  config/_default/config.toml
  deploy.sh
  layouts/company/single.html
Labels: optimization

#313 Fix text overflowing in mobile browsers
  content/de/contribute.md
  content/de/open-source.md
  content/en/open-source.md
  content/fr/open-source.md
  content/pt/open-source.md
  src/styles/main.scss
Labels: bug

#325 Fix broken link in German 'ausweispflichten' post
  content/de/blog/ausweispflichten/index.md
Labels: content

#339 Rename license translation keys without dots to fix Weblate problem
  content/de/blog/ausweispflichten/index.md
  content/de/blog/datensparsamkeit-ist-verboten.md
  content/de/blog/gdpr-territorial-scope/index.md
  content/de/blog/portugal-data-protection/index.md
  content/de/blog/request-specification/index.md
  content/de/blog/sample-letter-gdpr-access-request/index.md
  content/de/blog/sample-letter-gdpr-direct-marketing-objection/index.md
  content/de/blog/sample-letter-gdpr-erasure-request/index.md
  content/de/blog/sample-letter-gdpr-rectification-request/index.md
  content/de/blog/wie-oft-anfragen/index.md
  content/de/blog/yearly-report-2019/index.md
  content/de/verein/event/hlci-berlin-2020/index.md
  content/de/verein/event/okl-berlin-05-2020.md
  content/en/blog/sample-letter-gdpr-access-request/index.md
  content/en/blog/sample-letter-gdpr-direct-marketing-objection/index.md
  content/en/blog/sample-letter-gdpr-erasure-request/index.md
  content/en/blog/sample-letter-gdpr-rectification-request/index.md
  content/en/verein/event/okl-berlin-05-2020.md
  content/fr/blog/sample-letter-gdpr-access-request/index.md
  content/fr/blog/sample-letter-gdpr-direct-marketing-objection/index.md
  content/fr/blog/sample-letter-gdpr-erasure-request/index.md
  content/fr/blog/sample-letter-gdpr-rectification-request/index.md
  content/pt/blog/gdpr-territorial-scope/index.md
  content/pt/blog/portugal-data-protection/index.md
  layouts/_default/single.html
  layouts/event/single.html
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/fr.json
  src/i18n/pt.json
Labels: i18n

#314 Translations update from Weblate
  src/i18n/es.json
  src/i18n/fr.json
Labels: i18n
