Repository datenanfragen/website, pull requests merged in 2021-11, with the labels that each got.

#821 German blog post on promotional emails without consent
  content/de/blog/e-mail-werbung-einwilligung-beschwerde/beschwerde-gegen-shop-wegen-e-mail-werbung-ohne-einwilligung.jpg
  content/de/blog/e-mail-werbung-einwilligung-beschwerde/index.md
Labels: content

#806 Dutch site
  .eslintrc.js
  README.md
  assets/styles/variables.scss
  config/_default/languages.toml
  config/development/languages.toml
  config/production/languages.toml
  content/de/privacy.md
  content/de/verein/_index.md
  content/en/privacy.md
  content/en/verein/_index.md
  content/es/privacy.md
  content/es/verein/_index.md
  content/fr/verein/_index.md
  content/hr/verein/_index.md
  content/nl/generator.md
  content/nl/id-data-controls.md
  content/nl/my-requests.md
  content/nl/privacy-controls.md
  content/nl/suggest.md
  cypress/integration/use-cases/production.spec.js
  deploy-dattel.js
  deploy.sh
  src/general.js
  src/i18n/README.md
  src/i18n/de.json
  src/i18n/en.json
  src/i18n/nl.json
  static/img/logo-gegevensaanvragen.png
  static/img/logo-gegevensaanvragen.svg
  webpack.common.js
Labels: localization, i18n

#782 Make Hugo footnotes more accessible
  AUTHORS
  assets/styles/elements.scss
  src/Components/Footnote.js
  src/general.js
  src/i18n/en.json
Labels: hacktoberfest-accepted
